@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Global Rules */
:root {
    --one-font: 'Inter', sans-serif;
    --second-font: 'Lexend Deca', sans-serif;
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --m-head-stat: hsl(0, 0%, 100%);
    --main-paragraph: hsl(0deg 0% 69%);
    --stat-headings: hsl(0deg 0% 70% / 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    Font-size: 0.9rem;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  End Global Rules */
/* Components */
.display--img2 {
    display: none;
}

/* end components */

/* Start Card */
.card {
    display: grid;
    grid-template-columns: 49% 50%;
    justify-content: space-between;
    background-color: var(--card-bg);
    width: 68rem;

    border-radius: 0.8rem;
    overflow: hidden;

}

@media (max-width:856px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        width: 20rem;
        text-align: center;
    }
}

/* Section Right */
.card__section_left {
    position: relative;
}

.card__img1,
.card__img2 {
    width: 100%;
    height: 100%;
}

@media (max-width:856px) {
    .display--img1 {
        display: none;
    }

    .display--img2 {
        display: block;
    }
}

.img__overlay {
    position: absolute;
    top: 0;
    background: var(--accent);
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

/* End Section Right */
/* Start Section Left */
.card__section_left {
    width: 100%;

}

.card__head {
    display: flex;
    flex-direction: column;
    padding: 4rem;

}

.card__title {
    font-family: var(--one-font);
    font-weight: 700;
    font-size: 2rem;
    color: var(--m-head-stat);
}

.card__title>span {
    color: var(--accent);
}

.card__desc {
    color: var(--main-paragraph);
    font-size: 1rem;
    font-family: var(--one-font);
    line-height: 1.3;
    margin: 38px 0;

}

@media (max-width:856px) {
    .card__head {
        padding: 0;
    }

    .card__title {
        font-size: 1.8rem;
        margin-top: 1rem;
        padding: 15px 10px 10px 10px;
    }

    .card__desc {
        margin: 0;
    }
}

/* Card INFO */
.card__info {
    display: flex;
    column-gap: 5.3rem;
    margin-top: 3rem;
}

.card__stats {
    font-family: var(--one-font);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--m-head-stat);
    text-transform: uppercase;
}

.card__stats>p {
    font-weight: 400;
    font-family: var(--second-font);
    font-size: 0.7rem;
    color: var(--stat-headings);
    text-transform: uppercase;
}

@media (max-width:856px) {
    .card__info {
        display: flex;
        flex-direction: column !important;
        row-gap: 2rem;
        padding-bottom: 25px;
    }

}

/* Start Section Left */
/* End Card */